django-bootstrap-form
django-bootstrap-v5
django-dbbackup
django-crontab
django-cors-headers
django_elasticsearch_dsl
django-elasticsearch-dsl-drf
django-extensions
django-stubs[compatible-mypy]
Django==4.2.3
djangorestframework
djangorestframework-stubs[compatible-mypy]
psycopg2-binary
elasticsearch
flake8
gunicorn
python-decouple
setuptools
tqdm
