django-bootstrap-form 
django-bootstrap-v5
django-dbbackup
django-crontab
django_elasticsearch_dsl
django-elasticsearch-dsl-drf
django-extensions
django-stubs[compatible-mypy]
django
djangorestframework
djangorestframework-stubs[compatible-mypy]
elasticsearch
flake8
python-decouple
setuptools
tqdm