{% extends 'base.html' %}

{% block title %} Comparação das empresas {{ first_empresa.razao_social }} e {{ second_empresa.razao_social }} {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mb-3">
            <h2> Análise da empresa: {{ first_empresa.razao_social }} </h2>

            <h3> Dados da empresa </h3>

            <ul>
                <li><strong>CNPJ Completo:</strong> {{ first_empresa.cnpj_basico }}</li>
                <li><strong>Razão Social:</strong> {{ first_empresa.razao_social }}</li>
                <li><strong>Natureza Jurídica:</strong> {{ first_empresa.natureza_juridica.descricao }}</li>
                <li><strong>Qualificação do Responsável:</strong> {{ first_empresa.qualificacao_responsavel.descricao }}</li>
                <li><strong>Capital Social:</strong> {{ first_empresa.capital_social }}</li>
                <li><strong>Porte da Empresa:</strong> {{ first_empresa.porte_empresa }}</li>
                <li><strong>Ente Federativo Responsável:</strong> {{ first_empresa.ente_federativo_responsavel }}</li>
                <li><strong>Razão Social Limpa:</strong> {{ first_empresa.razao_social_limpa }}</li>
            </ul>

            <a href="{% url 'search_compare' first_empresa.cnpj_basico %}" class="btn btn-primary">Comparar {{ first_empresa.razao_social }} com outra empresa.</a>
        </div>
            <div class="col-md-6 mt-5 mb-3">

            <h2> Análise da empresa: {{ second_empresa.razao_social }} </h2>

            <h3> Dados da empresa </h3>

            <ul>
                <li><strong>CNPJ Completo:</strong> {{ second_empresa.cnpj_basico }}</li>
                <li><strong>Razão Social:</strong> {{ second_empresa.razao_social }}</li>
                <li><strong>Natureza Jurídica:</strong> {{ second_empresa.natureza_juridica.descricao }}</li>
                <li><strong>Qualificação do Responsável:</strong> {{ second_empresa.qualificacao_responsavel.descricao }}</li>
                <li><strong>Capital Social:</strong> {{ second_empresa.capital_social }}</li>
                <li><strong>Porte da Empresa:</strong> {{ second_empresa.porte_empresa }}</li>
                <li><strong>Ente Federativo Responsável:</strong> {{ second_empresa.ente_federativo_responsavel }}</li>
                <li><strong>Razão Social Limpa:</strong> {{ second_empresa.razao_social_limpa }}</li>
            </ul>
            
            <a href="{% url 'search_compare' second_empresa.cnpj_basico %}" class="btn btn-primary">Comparar {{ second_empresa.razao_social }} com outra empresa.</a>
            
        </div>
        <button class="btn btn-primary" onclick="window.print()">Imprimir</button>
</div>
</div>

{% endblock %}
```