{% extends 'base.html' %}

{% block title %}CNPJ Insight{% endblock %}

{% block content %} 
    
    {% comment %}
    Make a container with bootstrap and a centralized input query (just like google)
    {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <h1 class="text-center mt-3">CNPJ Insight</h1>
            <form action="{% url 'search_results' %}" method="get">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="Digite o CNPJ que você deseja buscar" aria-label="Recipient's username"
                        aria-describedby="button-addon2" id="cnpj" name="q">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Pesquisar</button>
                </div>
            </form>
            </div>
        </div>

        {% comment %}
        Make a container with bootstrap and a table to show the available data, just some columns
        {% endcomment %}
        
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                {% comment %} Título {% endcomment %}
                <h2 class="text-center">Conheça algumas empresas</h2>
                <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Nome Fanstasia</th>
                            {% comment %} <th scope="col">Atividade Principal</th> {% endcomment %}
                            {% comment %} <th scope="col">Situação</th> {% endcomment %}
                            {% comment %} <th scope="col">Data de Abertura</th> {% endcomment %}
                            {% comment %} <th scope="col">Capital Social</th> {% endcomment %}
                            <th scope="col">CEP</th>
                            <th scope="col">UF</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefone</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="table">
                        {% for estabelecimento in estabelecimentos %}
                        <tr>
                            <td>{{ estabelecimento.cnpj_basico_id }}/000{{ estabelecimento.cnpj_ordem }}-{{ estabelecimento.cnpj_dv }}</td>
                            <td>{{ estabelecimento.nome_fantasia }}</td>
                            {% comment %} <td>{{ estabelecimento.atividade_principal }}</td> {% endcomment %}
                            {% comment %} <td>{{ estabelecimento.situacao }}</td> {% endcomment %}
                            {% comment %} <td>{{ estabelecimento.data_abertura }}</td> {% endcomment %}
                            {% comment %} <td>{{ estabelecimento.capital_social }}</td> {% endcomment %}
                            <td>{{ estabelecimento.cep }}</td>
                            <td>{{ estabelecimento.uf }}</td>
                            <td>{{ estabelecimento.correio_eletronico }}</td>
                            <td>{{ estabelecimento.telefone1 }}</td>
                            <td><a href="{% url 'analysis' estabelecimento.cnpj_basico_id %}" class="btn btn-primary">Analisar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}