<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Cnpj Insight</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}! <a class="text-white"  href="{% url 'logout' %}">Deseja sair?</a></p>
        {% else %}
        <p>Olá, visitante. <a class="text-white" href="{% url 'login' %}">Entre</a> ou <a class="text-white" href="{% url 'register' %}">Cadastre-se</a>.</p>
        {% endif %}
    </div>
</nav>