{% extends "base.html" %}
{% load bootstrap %}

{% block title %} Perfil {% endblock %}


{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 mt-5 justify-content-center">

        {% if user.is_authenticated %}
        <h1 class="mb-5">Perfil de {{ user.username }}</h1>
        
        <h4> Suas informações: </h4>
        {% comment %} <p> Nome: {{ user.first_name }} </p>
        <p> Sobrenome: {{ user.last_name }} </p> {% endcomment %}
        <p> Email: {{ user.email }} </p>

        <h4> Seus histórico de buscas: </h4>
        
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">CNPJ Basico</th>
                        <th scope="col">Razao Social</th>
                        <th scope="col">Nat. Juridica</th>
                        <th scope="col">Cap. Social</th>
                        <th scope="col">Porte</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="table">
                    {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.cnpj_basico }}</td>
                        <td>{{ empresa.razao_social }}</td>
                        <td>{{ empresa.natureza_juridica.descricao }}</td>
                        <td>{{ empresa.capital_social }}</td>
                        <td>{{ empresa.porte_empresa }}</td>
                        <td><a href="{% url 'analysis' empresa.cnpj_basico %}" class="btn btn-primary">Analisar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h1> Você não está logado </h1>
        <a href="{% url 'login' %}"> Faça login </a>
        {% endif %}
        
        </div>
    </div>
</div>

{% endblock %}
