{% extends 'base.html' %}

{% block title %}CNPJ Insight{% endblock %}

{% block content %} 
    
    {% comment %}
    Make a container with bootstrap and a centralized input query (just like google)
    {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <h1 class="text-center mt-3">Comparar com {{ first_empresa.razao_social }}</h1>
            <form action="{% url 'search_compare' pk=first_empresa.cnpj_basico %}" method="get">
                <div class="input-group mb-3 mt-3">
                    <input type="text" class="form-control" placeholder="Digite o CNPJ ou Razão Social que você deseja comparar" aria-label="Recipient's username"
                        aria-describedby="button-addon2" id="cnpj" name="q">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Pesquisar</button>
                </div>
            </form>
            <a href="{% url 'analysis' first_empresa.cnpj_basico %}" class="btn btn-primary">Voltar</a>
            </div>
        </div>

        {% comment %}
        Make a container with bootstrap and a table to show the available data, just some columns
        {% endcomment %}
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                {% if empresas_list %}
                <h2 class="text-center">Resultado</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">CNPJ Basico</th>
                                <th scope="col">Razao Social</th>
                                <th scope="col">Nat. Juridica</th>
                                <th scope="col">Cap. Social</th>
                                <th scope="col">Porte</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            {% for empresa in empresas_list %}
                            <tr>
                                <td>{{ empresa.cnpj_basico }}</td>
                                <td>{{ empresa.razao_social }}</td>
                                <td>{{ empresa.natureza_juridica.descricao }}</td>
                                <td>{{ empresa.capital_social }}</td>
                                <td>{{ empresa.porte_empresa }}</td>
                                <td><a href="{% url 'comparison' first_empresa.cnpj_basico empresa.cnpj_basico %}" class="btn btn-primary">Comparar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}